@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 150px;
}
.navbar-dark .navbar-brand {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-weight: 400;
  font-size: 2em;
}

.btn-primary {
  margin-top: 20px;
}

#search {
  padding-left: auto;
}

#javascript-list {
  padding-right: 15px;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;

  #add-button {
    margin: 0 auto;
    text-align: center;
  }

  #form-container {
    width: 60%;
    margin: auto;
    justify-content: center;
    color: white;

    #formModal {
      color: black;
    }
  }

  #store {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;
    color: white;

    .card {
      width: 300px;
      margin: 5px;
    }

    .table {
      margin: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}

#logo {
width: 50px;
padding: 2px;
}

#view {
  width: 90%;
  margin: auto;
  color: black;

  .details {
    min-width: 50%;
    max-width: 60%;
  }

  .text {
    white-space: pre-wrap;
  }
}